body {
   
   
   
}

h1 {
    text-align: center;
    font-size: 30px;
}

main > p {
    text-align: center;
    font-size: 20px;
}


/*____________heander________*/
.header-container{
    padding-bottom: 6em;
}



/*____________heander________*/
.header-container{
    padding-bottom: 6em;
}


.navigation-knappar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    position: fixed;
    height: 4em;
    width: 100%; 
    height: 4em;
    width: 100%; 
}

.navigation-knappar a {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    margin: 0.5em;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5em;
    background-color: #b0bede;
    border-radius: 5px;
    min-width: 6em; 
    border: 4px double rgb(114, 94, 247);
    text-align: center;
  display: inline-block;  
  text-decoration: none;
  color: #333333;
  margin: 0.5em;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em;
  background-color: #e9d1fc;
  border-radius: 5px;
  width: 6em;
  border: double rgb(114, 94, 247);
  text-align: center;
  

}



.navigation-knappar a:hover {
    background-color: #8387be;
  }
  
.header-container img {
    width: 150px; 
    height:150px;
    
}

/*____________heander slut____________________*/

main {
    margin-top: 1em;
    margin-bottom:7em ;
    margin-bottom:7em ;
}
.produkten-container {
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 1em;
}


.produkten-container > div {
    padding: 5em;

}
img {
    width: 290px;
    height: 250px;
}

  
   
.om-oss-conatiner {
    margin: 3em;
    
}

.om-oss-conatiner > div {
    text-align: center;
}

/*________________footer______________*/
h2 {
    text-align: center;
    font-size:25px ;
}


.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:2em ;
    
}




.info-knapp a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    background-color: #b0bede;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    border: 4px double rgb(114, 94, 247);
    text-align: center;
}
    
