body {
   
}

h1 {
    text-align: center;
    font-size: 30px;
}

main > p {
    text-align: center;
    font-size: 20px;
}


/*____________heander________*/

.navigation-knappar {
    display: flex;
    position: fixed;
}



.navigation-knappar a {
  display: inline-block;  
  text-decoration: none;
  color: #333333;
  margin: 0.5em;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em;
  background-color: #e9d1fc;
  border-radius: 5px;
  width: 6em;
  border: double rgb(114, 94, 247);
  text-align: center;
  

}

.navigation-knappar a:hover {
    background-color: #e2adf6;
  }
  
  
.header-container img {
    width: 150px; 
    height:150px;
    margin-top: 2em;
    
}

/*____________heander slut____________________*/

main {
    margin-top: 1em;
}
.produkten-container {
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 1em;
}


.produkten-container > div {
    padding: 5em;

}
  
   
.om-oss-conatiner {
    margin: 3em;
    
}

.om-oss-conatiner > div {
    text-align: center;
}

  
