

body {
    font-family: 'Raleway', sans-serif;
    
}



h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

h3 {
   text-align: center;
   font-size: 20px;
}



li {
    text-align: center;
   font-size: 17px;
   list-style-type: none;
}

main > p {
    text-align: center;
    font-size: 20px;
}


/*____________heander________*/
.header-container{
    padding-bottom: 6em;
}


.navigation-knappar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    position: fixed;
    height: 4em;
    width: 100%; 
}

.navigation-knappar a {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    margin: 0.5em;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5em;
    background-color: #b0bede;
    border-radius: 5px;
    min-width: 6em; 
    border: 4px double rgb(114, 94, 247);
    text-align: center;
  display: inline-block;  
  text-decoration: none;
  color: #333333;
  margin: 0.5em;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em;
  background-color: #e9d1fc;
  border-radius: 5px;
  width: 6em;
  border: double rgb(114, 94, 247);
  text-align: center;
  

}


.navigation-knappar a:hover {
    background-color: #8387be;
  }
  
  
.header-container  img {
    width: 55px;
    height: 55px;
   
    
    
}

/*____________Main____________________*/

main {
    margin-top: 1em;
    margin-bottom:5em ;
}
.produkten-container {
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 1em;
}


.produkten-container > div {
    padding: 2em;

}
img {
    width: 350px;
    height: 230px;
}

.info-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 2em;
    
    
}
.info-item {
    font-size: 18px;
   
}



.info-item > img {
    height: 30px;
    width: 40px;

}
  
   
.om-oss-container {
    margin: 3em;
    font-size: 20px;
    
}

.om-oss-container > h1 {
    font-size:60px ;
}



/*________________footer______________*/



.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:2em ;
    
}








.info-knapp a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    background-color: #b0bede;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    border: 4px double rgb(114, 94, 247);
    text-align: center;
}
    
}