body {
    background-image: url('../images/testbild.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Raleway', sans-serif; 
    
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
   font-size: 20px;
}

li {
    text-align: center;
   font-size: 17px;
   list-style-type: none;
}

.röd {
    color:red;
}

main > p {
    text-align: center;
    font-size: 20px;
}

/* Header */
.header-container{
    padding-bottom: 6em;
}

.navigation-knappar {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    position: fixed;
    height: 4em;
    width: 100%; 
}

.navigation-knappar a {
    text-decoration: none;
    color: #333333;
    margin: 0.5em;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5em;
    background-color: #e9d1fc;
    border-radius: 5px;
    border: double rgb(114, 94, 247);
    text-align: center;
}


.navigation-knappar a:hover {
    background-color: #8387be;
}
  
.header-container  img {
    width: 55px;
    height: 55px;  
}
/* Knapp för köp nu */ 

button {
	background-color: #933bf1;
	/* färg på prisknappen */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	}
}
/* Main */

main {
    margin-top: 1em;
    margin-bottom:5em ;
}

.produkten-container {
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 1em;
}

.item {
    padding: 1em;
}

img {
    width: 350px;
    height: 230px;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2em
    
}
.info-item {
    font-size: 18px; 
}

.info-item > img {
     display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 30px;
    width: 40px;
}
     
.om-oss-container {
    margin: 3em;
    font-size: 20px; 
}

.om-oss-container > h1 {
    font-size:60px ;
}

/* Footer */

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}

.info-knapp a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    background-color: #b0bede;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    border: 4px double rgb(114, 94, 247);
    text-align: center;
}

.toppen {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  #topButton {
    background-color: #933bf1;
    color: #fff;
    padding: 1em;
    border: none;
    border-radius: 40%; 
    cursor: pointer;
    text-align: center; 
    text-decoration: none; 
  }
  
  
  #topButton:hover {
    background-color: #631590;
  }
  
  
  #topButton i {
    font-size: 20px; 
  }
  
  