body{
    background-color: #121212;
    color: aliceblue;
}
.logo{
    width: 20em;
    height: 12em;
    display: block;
    margin: 0 auto;
}
.meddelande-container {
	text-align: left;
	display: block;
}

.meddelande-container label {
	display: block;
}

.meddelande-container textarea {
	width: 20em;
	resize: none;
}
