ul{
    list-style-type: none;
}
.grid {
  padding: 2em; 
  display: grid;
   grid-template-columns: 1fr 540px 1fr; 
   grid-template-rows: repeat(5, auto);

 }
.empty1, .empty2{
   grid-row: span 5;
}
.company{
   grid-column: 2;
}
@media (max-width: 768px) {
   .grid {
     grid-template-columns: 1fr; 
   }
 }
  .menu-container a {
    text-decoration: none;
    color:  rgb(95, 84, 24);
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    transition: font-size 0.5s ease;
  }
  .menu-container a:hover,
  .menu-container a:focus{
    background-color: rgb(54, 31, 31);
    box-shadow: 8px 8px 8px rgb(54, 31, 31);
    font-size: 28px;
  }
  a:visited {
    color: rgb(95, 84, 24); 
}
ul{
  list-style-type: none;
}
.grid {
padding: 2em; 
display: grid;
 grid-template-columns: 1fr 540px 1fr; 
 grid-template-rows: repeat(5, auto);

}
.empty1, .empty2{
 grid-row: span 5;
}
.company{
 grid-column: 2;
}
@media (max-width: 768px) {
 .grid {
   grid-template-columns: 1fr; 
 }
}
.menu-container a{
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  transition: font-size 0.5s ease;
}
.menu-container a:hover,
.menu-container a:focus{
  background-color: rgb(54, 31, 31);
  box-shadow: 8px 8px 8px rgb(54, 31, 31);
  font-size: 28px;
}
a:visited {
  color: rgb(95, 84, 24);
}
/* -------------Kontaktformulär----------- */
.contact-form {
display: grid;
grid-template-columns: auto;
gap: 10px; 
}

.inputbox{
display: flex;
align-items: center;
}

label {
align-self: center;
margin-right: 10px;
flex: 0 0 auto; 
width: 100px; 
}

input {
flex-grow: 1;
padding: 5px;
border: 1px solid #ccc;
border-radius: 5px;
}
button{
max-width: 200px;
font-size: 2em;
border-radius: 5px;
}
.large{
height: 4em;
}